version: '3.7'
services:
  cphp:
    build:
      context: ./php-fpm
    volumes:
      - ./:/var/www
      - ./php-fpm/custom.ini:/usr/local/etc/php/conf.d/custom.ini
      - ./php-fpm/www.conf:/usr/local/etc/php-fpm.d/www.conf
    networks:
      - caddy
  cmysql:
    image: mysql:5.7
    command: --sort_buffer_size=2M
    restart: always
    environment:
      MYSQL_DATABASE: 'dead'
      MYSQL_USER: 'dead'
      MYSQL_PASSWORD: 'a*%)@FD43fs%34fddjh35'
      MYSQL_ROOT_PASSWORD: 'changeme'
    ports:
      - '3311:3306'
    volumes:
      - mysql:/var/lib/mysql
      #- /etc/localtime:/etc/localtime:ro
    networks:
      - caddy
  credis:
    image: 'bitnami/redis:latest'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    networks:
      - caddy
  cnginx:
    build:
      context: ./nginx
    volumes:
      - ./:/var/www
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/sites/:/etc/nginx/sites-available
      - ./nginx/conf.d/:/etc/nginx/conf.d
    #ports:
    #  - "80:80"
    depends_on:
      - cphp
    networks:
      - caddy
    labels:
      caddy.address: "https://4.dead.guru"
      caddy.tls: "assada.ua@gmail.com"
      caddy.proxy.transparent: ""
volumes:
  mysql:
    driver: local
networks:
  caddy:
    external:
      name: assada-services
