<!doctype html>
<html lang="{{ config.locale|default('en')|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <title>{{ settings.title }}</title>
    <script type="text/javascript">
        var active_page = "recent";
    </script>
    {% include 'header.html' %}
    <link rel="stylesheet" media="screen" href="{{ config.root }}{{ settings.css }}" />
</head>
<body>
{{ boardlist.top }}
<header>
    <h1>{{ settings.title }}</h1>
    <div class="subtitle">{{ settings.subtitle }}</div>
</header>

<div class="portal-wrap">

    <div class="portal-column-left">

        <div class="box">
            <h2>News</h2>
            <ul class="list-news">
                {% for item in stats.latest_news %}
                <li>
                    <strong>{{ item.subject }}</strong>
                    <div class="news-body">{{ item.body|raw }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="box">
            <h2>Board Top (7 days)</h2>
            <ul class="list-stats">
                {% for board in stats.top_boards %}
                <li>
                    <a href="{{ config.root }}{{ board.uri }}/">/{{ board.uri }}/ - {{ board.name }}</a>
                    <span>{{ board.count }} posts</span>
                </li>
                {% else %}
                <li>No activity...</li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="portal-column-main">
        <div class="box">
            <h2>Latest active threads</h2>
            <ul class="list-threads">
                {% for post in recent_posts %}
                <li>
                    <span class="board-name">[{{ post.board_name }}]</span>
                    <a href="{{ post.link }}">
                        {{ post.snippet }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="portal-column-right">
        <div class="box">
            <h2>Stats</h2>
            <ul class="list-stats">
                <li><strong>Posts (All Time):</strong> <span>{{ stats.total_posts }}</span></li>
                <li><strong>Threads (All Time):</strong> <span>{{ stats.total_threads }}</span></li>
                <li><strong>Posts (24h):</strong> <span>{{ stats.posts_today }}</span></li>
                <li><strong>Anonymous (All Time):</strong> <span>{{ stats.unique_posters }}</span></li>
                <li><strong>Anonymous (24h):</strong> <span>{{ stats.unique_posters_today }}</span></li>
                <li><strong>Data:</strong> <span>{{ stats.active_content|filesize }}</span></li>
            </ul>
        </div>

        <div class="box">
            <h2>Latest images</h2>
            <ul class="list-images">
                {% for post in recent_images %}
                <li>
                    <a href="{{ post.link }}" title="{{ post.link }}">
                        <img src="{{ post.src }}" loading="lazy" decoding="async" alt="">
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

<hr />
{% include 'footer.html' %}
</body>
</html>