.portal-wrap {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    gap: 20px;

    max-width: 1400px;
    margin: 30px auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.portal-column-left,
.portal-column-main,
.portal-column-right {
    min-width: 0;
}
.box {
    background: #dddddd;
    color: #333333;
    border: 2px dashed rgba(187, 187, 187, 0.31);
    border-radius: 7px;
    padding: 0;
    margin-bottom: 20px;
}

.box h2 {
    padding: 10px 15px;
    font-size: 12pt;
    color: #005c9a;
    background: #dddddd;
    margin: 0;
    border-bottom: 2px dashed rgba(187, 187, 187, 0.31);
}

.box ul {
    padding: 15px;
    margin: 0;
}
.box ul li {
    list-style: none;
    margin: 0;
}

ul.list-news li {
    margin-bottom: 15px;
}
ul.list-news strong {
    font-size: 1.1em;
    color: #333;
}
.news-body {
    padding-top: 5px;
    font-size: 0.9em;
    color: #444;
}

ul.list-stats li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
ul.list-stats li span {
    color: #111;
    font-weight: bold;
}
ul.list-stats li a {
    font-weight: bold;
}

ul.list-threads li {
    display: flex;
    align-items: baseline;
    gap: 5px;

    padding: 8px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
ul.list-threads li:last-child {
    border-bottom: none;
}
ul.list-threads .board-name {
    width: 120px;
    font-weight: bold;
    color: #005c9a;
    flex-shrink: 0;
}

ul.list-threads li a {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.list-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
ul.list-images li {
    padding: 0;
    margin: 0;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 4px;
}
ul.list-images img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    transition: transform 0.2s ease-in-out;
}
ul.list-images img:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 900px) {
    .portal-wrap {
        grid-template-columns: 1fr;
    }
    
    .portal-column-main {
        order: -3;
    }
    .portal-column-left {
        order: -2;
    }
    .portal-column-right {
        order: -1;
    }

    ul.list-images li {
        width: 80px;
        height: 80px;
    }
}