.box-wrap {
    max-width: 670px;
    min-width: 332px;
    margin: 30px auto;
    overflow: auto;
    padding: 0;
}

.box {
    background: white;
    border: 1px solid #98E;
    width: 330px;
    margin: 8px 0;
    padding: 0;
}

.box ul {
    padding: 2px 15px;
}

.box ul li {
    list-style: none;
    margin: 0;
}

ul.recent {
    padding: 2px 15px;
    display: flex;
    flex-wrap: wrap;
}

.box.left {
    min-height: 677px;
    background: #dddddd;
    color: #333333;
    border: 2px dashed rgba(187, 187, 187, 0.31);
    float: left;
    border-radius: 7px;
}

.box.left img {
    display: inline;
    max-width: 230px;
    max-height: 150px;
    width: auto;
    height: auto;
    object-fit: cover;
}

.box.left img:hover {
    scale: 1.2;
}

.box.left:hover {
    background: #dddddd;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.14);
}

.box.right {
    background: #dddddd;
    color: #333333;
    border: 2px dashed rgba(187, 187, 187, 0.31);
    float: right;
    border-radius: 7px;
}

.box.right:hover {
    background: #dddddd;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.14);
}

.box h2 {
    padding: 3px 7px;
    font-size: 12pt;
}

.box.left h2 {
    background: #dddddd;
    color: #AF0A0F;
}

.box.right h2 {
    background: #dddddd;
    color: #AF0A0F;
}

.box img {
    float: none;
    margin: 10px auto;
}

@media screen and (max-width: 696px) {
    .box-wrap {
        overflow: visible;
    }

    .box {
        width: 100%;
    }

    .box ul {
        text-align: center;
    }
}
