{% filter remove_whitespace %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ settings.head_title }} - {{ settings.subtitle }}</title>
    {% if config.meta_keywords %}
    <meta name="keywords" content="{{ config.meta_keywords }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    {% if config.url_favicon %}
    <link rel="shortcut icon" href="{{ config.url_favicon }}">
    {% endif %}
    <link rel="stylesheet" media="screen" href="{{ config.url_stylesheet|ccss }}">
    {% if config.default_stylesheet.1 != '' %}
    <link rel="stylesheet" type="text/css" id="stylesheet" href="{{ (config.uri_stylesheets ~ config.default_stylesheet.1) | ccss }}">
    {% endif %}
    {% if config.font_awesome %}
    <link rel="stylesheet" href="{{ config.root }}{{ config.font_awesome_css }}">
    {% endif %}
</head>
<body class="8chan main vichan {% if mod %}is-moderator{% else %}is-not-moderator{% endif %}" data-stylesheet="{% if config.default_stylesheet.1 != '' %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %}">
<header class="header">
    <img src="{{ settings.logo }}" style="max-width: 460px; width: 100%; height: auto;" alt="Logo">
    <h1>{{ settings.title }}</h1>
    <div class="subtitle">{{ settings.subtitle }}</div>
</header>
<section class="main__block main__meta">{{ settings.meta }}</section>
<section class="main__block boards">
    {% for col in config.index_boards %}
    <div class="boards__col">
        <ul class="boards__ul">
        {% for cat, links in col %}
            <li class="boards__title">{{cat}}</li>
            {% for b, title in links %}
            <li><a href="/{{ b }}/">{{ title }}</a></li>
            {% endfor %}
            <br>
        {% endfor %}
        </ul>
    </div>
    {% endfor %}
</section>
<div class="news">
    {% if news|count == 0 %}
    <p style="text-align:center" class="unimportant">(No news to show.)</p>
    {% else %}
    {% for entry in news %}
    <div class="post">
        <h2 id="{{ entry.id }}">
            {% if entry.subject %}
            {{ entry.subject }}
            {% else %}
            <em>no subject</em>
            {% endif %}
            <span class="unimportant"> &mdash; by {{ entry.name }} at {{ entry.time|date(config.post_date, config.timezone) }}</span>
        </h2>
        <p>{{ entry.body }}</p>
    </div>
    {% endfor %}
    {% endif %}
</div>
<hr />
{% include 'footer.html' %}
</body>
</html>
{% endfilter %}
