/*https://github.com/turanga/Tinyboard/blob/efe78b81c1ffca32bcf9601d0e3877bb65c70df1/stylesheets/photon.css*/


html[data-theme=nightmode] {
    --theme_default_bg: rgb(21, 32, 43);
    --theme_default_postbg: #192734;
    --theme_default_postbghighlight: rgb(19 29 40);
    --theme_default_spectext: #800080;
    --theme_default_postnum: #789922;
    --theme_default_border: #38444d66;
    --theme_default_text: #ccc;
    --theme_default_alttext: #7d7d7d;
    --theme_default_link: #c3672a;
    --theme_default_hover: #a74300;
    --theme_default_title: #6995c5;
    --theme_default_drag: rgb(76, 96, 116);
    --theme_default_spoiler: #000000;
    --theme_default_icon: #565656;
    --theme_default_btntext: #ccc;
    --theme_default_btnbg: #192734;
    --theme_default_btnborder: rgb(56, 68, 77);
    --theme_default_altbtnbg: #192734;
    --theme_default_btnbghover: rgb(21, 32, 43);
    --theme_default_altbtnbghover: rgb(21, 32, 43);
    --theme_default_inputtext: #ccc;
    --theme_nmswitch: #c3672a;
    --theme_mpborder: rgb(13, 20, 27);
    --theme_mubtn: #333d46;
    --theme_sbthumb: #223546;
    --theme_sbtrack: rgb(21, 32, 43);
}

.floatiframe {
    float: left;
    padding: 10px;
}


div.boardlist {
    color: #ccc;
    font-size: 12pt;
    background-color: #192734;
    border: 1px solid #38444d66;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 9800;
}


div.boardlist.bottom {
    margin-top: 20px;
    position: inherit;
    background-color: #192734;
}


.return1 a {
    float: left;
    font-size: inherit;

}

div.blotter {
    background: none repeat scroll 0 0 #15202B;
    border: 1px solid #38444d66;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    color: #006AB9;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding: 2px;
    text-align: center;
}


div.title {
    margin-bottom: 0em;
    clear: both;
    color: #FFAB3F;
    font-size: 2em;
    font-weight: bold;

}

div.ban h2 {
    border-radius: 6px 6px 6px 6px;
}

div.ban {
    background: none repeat scroll 0 0 #15202B;
    border: 1px solid #38444d66;
    margin: 30px auto;
    max-width: 700px;
    border-radius: 7px;

}

form {
    margin-bottom: 0px;
}


form {
    margin-bottom: 0px;
}

span.heading {
    color: #FFAB3F;
    display: block;
    font-size: 12pt;
    font-weight: bold;
}

textarea#body {
    height: 136px;
    width: 518px;
}

textarea.text_body {
    height: 136px;
    width: 518px;
}


html, body {
    background: none;
    background-color: #15202B;
    color: #ccc;
    font-family: "Trebuchet MS", Trebuchet, serif;
    font-size: 12pt;
    margin-top: 20px;
}

body {
    line-height: 1.3;
}

.mobile-style body {
    padding-top: 20px;
}

a, a:visited {
    color: #8A8A8A;
}

a:hover {
    color: #FF6600;
}

h2 {
    color: #FF6600;
}

.options_tab_icon.active {
    color: #FF6600;
}

.intro span.name {
    color: #FFAB3F;
    font-weight: bold;
}

.adminbar {
    clear: both;
    float: right;
    font-size: .8em;
}

.adminbar a {
    font-weight: bold;
}

.logo {
    clear: both;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    color: #FF6600;
    /*width:100%;*/
}

.theader, .passvalid {
    background-color: #192734;
    text-align: center;
    padding: 2px;
    color: #2266AA;
    clear: both;
    font-weight: bold;
    margin-bottom: .5em;
    border: solid 1px #38444d66;
    -moz-border-radius: 5px;
}

.postarea {
}

.rules {
    font-size: 0.7em;
}

.postblock {
    background: transparent;
    color: #002244;
    font-weight: bold;
}

.footer {
    text-align: center;
    font-size: 12px;
    font-family: serif;
    margin: 2em 0 0 0;
}

.dellist {
    font-weight: bold;
    text-align: center;
}

.delbuttons {
    text-align: center;
    padding-bottom: 4px;
}

.managehead {
    background-color: #192734;
    color: #002244;
    padding: 0px;
}

.postlists {
    background-color: #192734;
    width: 100%;
    padding: 0px;
    color: #800000;
}

.row1 {
    background-color: #192734;
    color: #cccccc;
}

.row2 {
    background-color: #192734;
    color: #cccccc;
}

.unkfunc {
    background: inherit;
    color: #789922;
}

.reflink {
    font-size: .8em;
    font-weight: bold;
}

.filesize {
    text-decoration: none;
    color: #666666;
    font-size: .8em;
}

.filetitle {
    background: inherit;
    font-size: 1.2em;
    color: #002244;
    font-weight: bold;
}

.postername {
    color: #004A99;
    font-weight: bold;
}

.postertrip {
    color: #FF3300;
}

.oldpost {
    color: #CC1105;
    font-weight: bold;
}

.omittedposts {
    color: #666666;
}

.omitted, .toolong {
    font-size: 0.9em;
    color: #5d5d5d;
    margin-left: 20px;
}

.unimportant, .fileinfo {
    font-size: 0.7rem;
}

.intro {
    font-size: 0.9em;
}

.reply {
    background-color: #192734;
    border: solid 1px #38444d66;
    padding: 0;
    margin: 0;
    -moz-border-radius: 5px;
}

blockquote {
    margin: .5em .5em .5em 1em;
}

blockquote p {
    margin: 0;
    padding: 0;
}

.reply blockquote {
    margin: .5em;
}

.doubledash {
    display: none;
    vertical-align: top;
    clear: both;
    float: left;
}

.replytitle {
    font-size: 1.2em;
    color: #002244;
    font-weight: bold;
}

.commentpostername {
    color: #004A99;
    font-weight: 800;
}

.thumbnailmsg {
    font-size: .8em;
    color: #666666;
}

hr {
    border-style: solid none none none;
    border-width: 1px;
    border-color: #38444d66;
}

table {
    border-style: none;
}

table td {
    border-style: none;
}

.nothumb {
    background-color: #FFFFFF;
    border-style: dotted;
    margin: .3em .5em;
}

.abbrev {
    color: #666666;
}

.highlight {
    background: #EEDACB;
    color: #333333;
    border: 2px dashed #EE6600;
}


div.banner, div.banner a {
    color: inherit;
}

div.banner {
    background-color: #192734;
}

form table tr th {
    background: none;
}

div.post.reply {
    background: none repeat scroll 0 0 #192734;
    border: 1px solid #38444d66;
    border-radius: 5px 5px 5px 5px;
}

div.title, h1 {
    color: #FF6600;
    font-size: 32px;
    font-weight: bold;
}

div.title p {
    font-size: 26px;
    margin: 0;
}

h1 {
    letter-spacing: inherit;
    font-family: 'Trebuchet MS', sans-serif;
}

.pages {
    background: rgba(204, 204, 204, 0.32) !important;
    width: 100%;
    color: #707070 !important;
}

div.banner {
    background-color: #192734;
    border: 1px solid #38444d66;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    color: #2266AA;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding: 2px;
    text-align: center;
}

form table tr td div {
    padding-left: 0px;

}

.open-form a {
    text-decoration: none;
    color: #00b5ff;
}

.open-form {
    font-size: 17pt;
}

.recaptchatable .recaptcha_image_cell {
    padding: 0px !important;
}

.desktop-style div.boardlist:not(.bottom) {
    background-color: #192734;
    border: 1px solid #38444d66;
}

div.ban h2 {
    background: #192734;
    color: #cccccc;
    font-size: 12pt;
}

.intro span.subject {
    color: #c3672a;
    font-weight: bold;
}

.news {
    margin: 30px auto;
    max-width: 700px;
}

.news > .post {
    margin-bottom: 30px;
    background-color: #dddddd;
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 10px;
    border: 2px dashed #38444d66;
}

.news > .post:hover {
    background-color: #e3e3e3;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.14);
}

select {
    border: 1px solid #38444d66;
    vertical-align: top;
    height: 20px;
}

input, select, input[type="text"], input[type="password"], textarea {
    outline: medium none;
    border: 1px solid rgb(56, 68, 77);
    background-color: #192734;
    transition: background-color 0.2s ease;
    color: #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.select {
    padding: 2px 16px 2px 4px;
    cursor: pointer;
    border-radius: 4px;
    /* max-width: 12ch; */
}

.input:focus {
    background-color: rgb(21, 32, 43);
}

@media only screen and (max-device-width: 480px) {
    div.boardlist {
        color: #ccc;
        font-size: 10pt;
        background-color: #192734;
        border: 1px solid #38444d66;
        border-radius: 4px 4px 4px 4px;
        padding: 5px;
        position: fixed;
        top: 0;
        left: 0;
    }

    .watch-menu {
        margin-top: 50px !important;
    }

    textarea#body {
        height: 100px;
        width: 100%;
    }
}


.postform__limits {
    position: absolute;
    bottom: 4px;
    right: 10px;
    opacity: 0.6;
    font-size: 0.8rem;
}
.postarea {
    position: relative;
}

a.show-image-link, a.hide-image-link {
    color: #acacac;
}

.ev-action {
    font-size: 0.7rem;
    color: #8A8A8A;
    text-decoration: underline;
}

.ev-action.active {
    font-size: 0.8rem !important;
    color: #5a5a5a;
    font-weight: bold;
    text-decoration: none;
}

.post_file_webm, .post_file_mp4 {
    border: 1px dashed #38444d66;
}

div.post .post-image {
    padding: 0px;
    margin: 5px 20px 0 0;
}

a.reply-thread {
    color: #EE6600;
    font-weight: bold;
    text-decoration: none;
}

a.reply-thread:hover {
    text-decoration: underline dotted #EE6600;
}

div.post.reply div.body a {
    color: #EE6600;
}

.dropbtn {
    display: inline;
    color: #acacac;
    background: transparent;
    padding: 0;
    font-size: 0.7rem;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dddddd;
    min-width: 30px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #333333;
    padding: 5px 3px;
    font-size: 0.65rem;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #4a4a4a;
    color: #ffffff
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #212121;
}

div.post i.fa {
    font-size: 0.7rem;
}

.video-pop {
    display: block;
    float: none !important;

}
.index-search {
    display: inline-block;
    margin: 0;
}
.new-threads {
    text-align: left;
    display: inline;
    padding: 0 5px;
}

#thread-interactions, #thread-interactions_header, #thread_stats, #updater {
    display: inline;
    font-size: .7rem;
    color: #b0b0b0;
}

#expand-all-images, #watch-board, #watch-pin, #watch-thread, .tree-view-cntrl {
    display: inline;
    padding: 0 5px;
    font-size: .7rem;
}

.fileinfo, .no-new-threads, .unimportant, .unimportant * {
    font-size: .7rem;
    color: #8A8A8A
}

.file:not(.multifile) {
    float: left
}

.boardlist:not(.compact-boardlist) #watch-pinned::before {
    content: " ";
}

.boardlist:not(.compact-boardlist) #watch-pinned::after {
    content: " ";
}

div.post.op, div.post.reply {
    /*word-break: break-word;
    word-wrap: break-word;*/
    position: relative;
    /*margin-left: 15px;*/
    min-width: fit-content;
}

div.post.reply div.body {
    word-break: break-word;
    word-wrap: break-word;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    padding-right: 3em;
    padding-bottom: 0;
}

span.public_ban, span.toolong {
    margin-left: 0 ;
}

.files {
    height: max-content;
}

.post.reply p.intro {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.post.reply .files {
    float: left;
    display: flex;
    flex-flow: row wrap;
}

.post.reply .body {
    overflow: auto;
    max-height: 800px;
}

.hide-thread-link {
    position: relative;
    z-index: 999;
}

.mentioned a {
    color: #FF6600;
    padding: 0 3px;
}
.mentioned a:hover {
    color: #a74300;
}
.mentioned {
    font-size: 80%;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 15px 0px 6px;
}

@media only screen and (max-device-width: 960px) {

    .intro {
        font-size: 0.8em;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .file:not(.multifile) {
        float: none;
    }

    #thread-links, .file, .file:not(.multifile) .post-image, .post-image, input.delete {
        float: none;
    }

    div.post.reply div.body {
        overflow: auto;
        max-height: 800px;
        display: block;
        margin-top: 10px;
        margin-left:0;
        font-size: 14px;
    }

    div.post.op {
        max-width: 75vw;
        overflow: hidden
    }

    div.post.reply {
        margin: 2px 0 4px 0px;
        width: 100%;
        max-width: 100% !important;
        min-width: 100% !important;
    }

    div.post.reply > .files {
        display: flex;
        padding: 0;
        float: none;
        flex-flow: row wrap
    }

    div.post.op > div.body {
        padding: 30px 16px 16px 0
    }

    div.post.op > span.omitted {
        position: relative;
        bottom: 0;
        right: 0
    }

    div.post p.fileinfo {
        padding-left: 0
    }

    p.fileinfo {
        display: block;
        margin: 0
    }

    .omitted, .toolong {
        margin-left: 0;
    }

    div.post.reply:before {
        content: '';
        top: 0;
        left: 0;
    }
    div.post.op {
        padding-left: 0;
    }

    .hide-thread-link {
        display: none;
    }
}

input.delete {
    margin: 3px 6px 0 0;
}


div.ban {
    margin-bottom: 30px;
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 10px;
    border: 2px dashed rgba(187, 187, 187, .31);
    transition: all .09s;
    padding-left: 20px;
}

div.ban:hover {
    background-color: #e3e3e3;
    cursor: pointer;
    -webkit-box-shadow: 0 0 18px -3px rgb(0 0 0 / 14%);
    box-shadow: 0 0 18px -3px rgb(0 0 0 / 14%);
}
div.ban h2 {
    background: none;
    font-size: 11pt;
    color: #f60;
    border: none;
}

#search {
    height: 20px;
}

button, input[type=button], input[type=submit] {
    border: 1px dotted #ccc;
    font-weight: 700;
    padding: 0 15px;
    height: 20px;
    color: #f60;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
    border: 1px solid #ccc;
    font-weight: 800;
    color: #ff7920;
    background-color: #d7d7d7;
    cursor: pointer;
}

.boards {
    display: flex;
    flex-flow: row wrap;
}

.main__block {
    /* padding: 16px; */
    max-width: 940px;
    width: 100%;
    margin: 0 0 20px;
}

.boards__col {
    flex: 1 1 auto;
    padding: 0 0 0 30px;
}

.boards__ul {
    list-style: none;
    margin: 0;
}

.boards__title {
    /*color: #5e5e5e;*/
    padding: 0 0 8px 0;
}

.boards__ul a {
    white-space: pre;
}

.main {
    display: flex;
    flex-flow: column;
    /* gap: 20px 20px; */
    align-items: center;
    padding: 16px;
    margin-top: 0;
}

header.header {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px 0 50px;
}


.header__item {
    flex: 1 1 auto;
}

div.subtitle {
    font-size: 1.1rem !important;
    font-family: 'Open Sans', sans-serif;
    color: #5e5e5e !important;
}
