@import url(https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap);

html {
    overflow-y: scroll;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px; /*scroll-behavior: smooth;*/
}

body {
    line-height: 1.3;
    background-color: #EEE;
    color: #333;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fullsize, video {
    max-width: 100%;
    height: auto;
}

hr {
    clear: both;
    border: none;
    border-top: 1px solid #DDD;
    height: 0;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

td, td img {
    vertical-align: top;
}

a {
    color: #FF6600;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
}

a:hover {
    color: #a74300;
}

a[href*="youtube.com"] {
    border-bottom: 1px dotted;
    line-height: 1.5em;
}

a, a:visited {
    color: #8a8a8a
}

div.ban, div.boardlist {
    border: 1px solid #ccc
}

.news, div.ban {
    max-width: 700px
}

.desktop-style div.boardlist:not(.bottom), .news > .post, div.boardlist {
    background-color: #ddd
}

.doubledash, select {
    vertical-align: top
}

.dropdown-content a, .ev-action.active, .filesize, .open-form a, a.reply-thread {
    text-decoration: none
}

.floatiframe {
    float: left;
    padding: 10px
}

div.boardlist {
    color: #89a;
    font-size: 12pt;
    border-radius: 4px;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 9800;
}

.desktop-style div.boardlist:first-child {
    border: none
}

div.boardlist.bottom {
    margin-top: 20px;
    position: inherit;
    background: inherit;
    border: none;
}

.return1 a {
    float: left;
    font-size: inherit
}

div.blotter {
    border-radius: 7px;
    clear: both;
    color: #af0a0f;
    font-weight: 400;
    margin: .5rem;
    padding: 2px;
    text-align: center
}

#thread-links a:hover, #thread-links_header a:hover, .intro a.post_no:hover, .logo, .options_tab_icon.active, a:hover, h2 {
    color: #f60
}

div.title, form {
    margin-bottom: 0
}

div.title {
    clear: both
}

.intro span.name {
    color: #c3672a;
    font-weight: 400;
    text-transform: lowercase
}

div.ban h2 {
    border-radius: 6px
}

div.ban {
    background: #ddd;
    margin: 30px auto;
    border-radius: 7px
}

.passvalid, .theader, div.banner {
    clear: both;
    margin-bottom: .5em;
    padding: 2px;
    font-weight: 700
}

span.heading {
    color: #ffab3f;
    display: block;
    font-size: 12pt;
    font-weight: 700
}

textarea#body, textarea.text_body {
    height: 136px;
    width: 518px
}

body, html {
    background: #eee;
    color: #333;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    margin-top: 20px
}


.adminbar {
    clear: both;
    float: right;
    font-size: .8em
}

.adminbar a {
    font-weight: 700
}

.logo {
    clear: both;
    text-align: left;
    font-size: 2em;
    font-weight: 700
}

.delbuttons, .dellist, .footer, div.banner {
    text-align: center
}

.passvalid, .theader {
    background: #ddd;
    text-align: center;
    color: #26a;
    border: 1px solid #ccc;
    -moz-border-radius: 5px
}

.rules {
    font-size: .7em
}

.postblock {
    background: 0 0;
    color: #024;
    font-weight: 700
}

.footer {
    font-size: 12px;
    font-family: serif;
    margin: 2em 0 0
}

.dellist {
    font-weight: 700
}

.delbuttons {
    padding-bottom: 4px
}

.managehead {
    background: #ddd;
    color: #024;
    padding: 0
}

.postlists {
    background: #fff;
    width: 100%;
    padding: 0;
    color: maroon
}

.row1 {
    background: #ddd;
    color: #024
}

.row2 {
    background: #ccc;
    color: #024
}

.unkfunc {
    background: inherit;
    color: #789922
}

.reflink {
    font-size: .8em;
    font-weight: 700
}

.filesize {
    color: #666;
    font-size: .8em
}

.filetitle {
    background: inherit;
    font-size: 1.2em;
    color: #024;
    font-weight: 700
}

.postername {
    color: #004a99;
    font-weight: 700
}

.postertrip {
    color: #f30
}

.oldpost {
    color: #cc1105;
    font-weight: 700
}

.abbrev, .omittedposts {
    color: #666
}

.omitted, .toolong {
    font-size: .9em;
    color: #5d5d5d;
    margin-left: 0
}

.fileinfo, .no-new-threads, .unimportant, .unimportant * {
    font-size: .7rem;
    color: #b0b0b0
}

.mobile-style body {
    padding-top: 20px;
}

.intro {
    font-size: .9em
}

.reply {
    background: #ddd;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    -moz-border-radius: 5px
}

blockquote {
    margin: .5em .5em .5em 1em
}

blockquote p {
    margin: 0;
    padding: 0
}

.reply blockquote {
    margin: .5em
}

.doubledash {
    display: none;
    clear: both;
    float: left
}

.replytitle {
    font-size: 1.2em;
    color: #024;
    font-weight: 700
}

.commentpostername {
    color: #004a99;
    font-weight: 800
}

.thumbnailmsg {
    font-size: .8em;
    color: #666
}

hr {
    border-style: solid none none;
    border-width: 1px;
    border-color: #bbb
}

table, table td {
    border-style: none
}

.nothumb {
    background-color: #fff;
    border-style: dotted;
    margin: .3em .5em
}

.highlight {
    background: #eedacb;
    color: #333;
    border: 2px dashed #e60
}

.dropbtn, form table tr th {
    background: 0 0
}

div.banner, div.banner a {
    color: inherit
}

div.post.reply {
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 75vw !important;
    margin: 2px 0 4px 20px;
}

div.title, h1 {
    color: #f60;
    font-size: 32px;
    font-weight: 700
}

div.title p {
    font-size: 26px;
    margin: 0
}

h1 {
    letter-spacing: inherit;
    font-family: 'Trebuchet MS', sans-serif;
}

div.pages {
    background: rgba(204, 204, 204, .32) !important;
    width: auto;
    display: block;
    margin-top: 45px;
    color: #707070 !important;
    border: none
}

div.banner {
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #26a
}

form table tr td div {
    padding-left: 0
}

.open-form a {
    color: #00b5ff;
    margin: 0 10px;
    transition: all .09s;
}

.open-form a:hover {
    margin: 0 5px;
    color: #009fde;
}

.open-form {
    font-size: 16pt
}

.recaptchatable .recaptcha_image_cell {
    padding: 0 !important
}

div.ban h2 {
    background: #bbb;
    color: #000;
    font-size: 12pt
}

.news {
    margin: 30px auto
}

.news > .post {
    margin-bottom: 30px;
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 10px;
    border: 2px dashed rgba(187, 187, 187, .31);
    transition: all .09s;
}

.news > .post:hover {
    background-color: #e3e3e3;
    cursor: pointer;
    -webkit-box-shadow: 0 0 18px -3px rgba(0, 0, 0, .14);
    box-shadow: 0 0 18px -3px rgba(0, 0, 0, .14)
}

select {
    border: 1px solid #a9a9a9;
    height: 20px
}

input, select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

@media only screen and (max-device-width: 480px) {
    div.boardlist {
        color: #89a;
        font-size: 10pt;
        background-color: rgba(221, 221, 221, .74);
        border: 1px solid rgba(204, 204, 204, .74);
        border-radius: 4px;
        padding: 5px;
        position: fixed;
        top: 0;
        left: 0
    }

    .watch-menu {
        margin-top: 50px !important
    }

    textarea#body {
        height: 100px;
        width: 100%
    }
}

.postform__limits {
    position: absolute;
    bottom: 4px;
    right: 10px;
    opacity: .6;
    font-size: .8rem
}

.dropdown, .postarea {
    position: relative
}

a.hide-image-link, a.show-image-link {
    color: #acacac
}

.ev-action {
    font-size: .7rem;
    color: #8a8a8a;
    text-decoration: underline
}

.ev-action.active {
    font-size: .8rem !important;
    color: #5a5a5a;
    font-weight: 700
}

.post_file_mp4, .post_file_webm {
    border: 1px dashed #5d5d5d
}

div.post .post-image {
    padding: 0;
    margin: 5px 20px 0 0
}

a.reply-thread {
    color: #e60;
    font-weight: 700;
    transition: all .09s;
}

a.reply-thread:hover {
    text-decoration: underline dotted #FF6600
}

div.post.reply div.body a {
    color: #e60
}

div.post.reply a:hover {
    color: #FF6600 !important;
}

.dropbtn {
    display: inline;
    color: #acacac;
    padding: 0;
    font-size: .7rem;
    border: none;
    cursor: pointer;
    border-radius: 0;
    margin-left: 0;
    height: auto;
    font-weight: normal;
}
.dropbtn:hover {
    background-color: transparent;
    display: inline;
    color: #acacac;
    padding: 0;
    font-size: .7rem;
    border: none;
    cursor: pointer;
    border-radius: 0;
    margin-left: 0;
    height: auto;
    font-weight: normal;
}

.dropdown {
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    min-width: 30px;
    z-index: 1
}

.dropdown:hover .dropdown-content, .video-pop {
    display: block
}

.dropdown-content a {
    color: #333;
    padding: 5px 3px;
    font-size: .65rem;
    display: block
}

.dropdown-content a:hover {
    background-color: #4a4a4a;
    color: #fff
}

.dropdown:hover .dropbtn {
    color: #212121
}
div.post p.fileinfo {
    padding-left: 5px;
    margin: 0;
}


div.post.reply:before {
    content: '...';
    position: absolute;
    top: -5px;
    left: -21px;
    color: #8c8c8c
}
div.post.reply.post-hover:before {
    content: '';
}

div.post i.fa {
    font-size: .7rem
}

.video-pop {
    float: none !important
}

#expand-all-images, #watch-board, #watch-pin, #watch-thread, .tree-view-cntrl {
    display: inline;
    padding: 0 5px;
    font-size: .7rem
}

.new-threads {
    text-align: left;
    display: inline;
    padding: 0 5px
}

#thread_stats {
    padding: 5px 0
}

#thread-interactions, #thread-interactions_header, #thread_stats, #updater {
    display: inline;
    font-size: .7rem;
    color: #b0b0b0
}

#thread-links a, #thread-links_header a {
    color: #b0b0b0
}

.index-search {
    display: inline-block;
    margin: 0
}

.index-search > p {
    margin: 0
}

input:focus, select:focus, textarea:focus {
    background-color: #f6f6f6
}

input, input[type=password], input[type=text], select, textarea {
    border: none;
    outline: 0;
    transition: background-color .2s;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

input[type=button], input[type=submit] {
    border: 1px solid #ccc;
    font-weight: 700;
    background-color: #b0b0b0;
    cursor: pointer
}

input.index-search-input {
    background-color: #eee;
    border: 1px solid #ccc
}

.file:not(.multifile) {
    float: left
}

.boardlist:not(.compact-boardlist) #watch-pinned::before {
    content: " ";
}

.boardlist:not(.compact-boardlist) #watch-pinned::after {
    content: " ";
}

div.post.op, div.post.reply {
    /*word-break: break-word;
    word-wrap: break-word;*/
    position: relative;
    /*margin-left: 15px;*/
    min-width: fit-content;
}

div.post.reply div.body {
    word-break: break-word;
    word-wrap: break-word;
     margin-left: 0;
     margin-top: 0;
     margin-right: 0;
     padding-right: 3em;
     padding-bottom: 0;
}

span.public_ban, span.toolong {
    margin-left: 0 ;
}

.files {
    height: max-content;
}

p.intro {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.files {
    float: left;
    display: flex;
    flex-flow: row wrap;
}

.post.reply .body {
    overflow: auto;
    max-height: 800px;
}

span.spoiler, span.spoiler a {
    color: #bbb;
    background-color: #bbb;
}
span.spoiler:hover, span.spoiler a:hover {
    color: #333;
    background-color: transparent;
}

div.post.reply.highlighted {
    background: #eedacb;
}

.mentioned {
    font-size: 80%;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 15px 0px 6px;
}

.hide-thread-link {
    position: relative;
    z-index: 999;
}

.mentioned a {
    color: #FF6600;
    padding: 0 3px;
}
.mentioned a:hover {
    color: #a74300;
}

@media only screen and (max-device-width: 960px) {
    .intro {
        font-size: 0.8em;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .file:not(.multifile) {
        float: none;
    }

    #thread-links, .file, .file:not(.multifile) .post-image, .post-image, input.delete {
        float: none;
    }

    div.post.reply div.body {
        overflow: auto;
        max-height: 800px;
        display: block;
        margin-top: 10px;
        margin-left:0;
        font-size: 14px;
    }

    div.post.op {
        max-width: 75vw;
        overflow: hidden
    }

    div.post.reply {
        margin: 2px 0 4px 0px;
        width: 100%;
        max-width: 100% !important;
        min-width: 100% !important;
    }

    div.post.reply > .files {
        display: flex;
        padding: 0;
        float: none;
        flex-flow: row wrap
    }

    div.post.op > div.body {
        word-break: break-word;
        padding: 30px 16px 16px 0
    }

    div.post.op > span.omitted {
        position: relative;
        bottom: 0;
        right: 0
    }

    div.post p.fileinfo {
        padding-left: 0
    }

    p.fileinfo {
        display: block;
        margin: 0
    }

    .omitted, .toolong {
        margin-left: 0;
    }

    div.post.reply:before {
        content: '';
        top: 0;
        left: 0;
    }
    div.post.op {
        padding-left: 0;
    }

    .hide-thread-link {
        display: none;
    }
}

input.delete {
    margin: 3px 6px 0 0;
}


div.ban {
    margin-bottom: 30px;
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 10px;
    border: 2px dashed rgba(187, 187, 187, .31);
    transition: all .09s;
    padding-left: 20px;
}

div.ban:hover {
    background-color: #e3e3e3;
    cursor: pointer;
    -webkit-box-shadow: 0 0 18px -3px rgb(0 0 0 / 14%);
    box-shadow: 0 0 18px -3px rgb(0 0 0 / 14%);
}
div.ban h2 {
    background: none;
    font-size: 11pt;
    color: #f60;
    border: none;
}

#search {
    height: 20px;
}

button, input[type=button], input[type=submit] {
    border: 1px dotted #ccc;
    font-weight: 700;
    padding: 0 15px;
    height: 20px;
    color: #f60;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
    border: 1px solid #ccc;
    font-weight: 800;
    color: #ff7920;
    background-color: #d7d7d7;
    cursor: pointer;
}

.boards {
    display: flex;
    flex-flow: row wrap;
}

.main__block {
    /* padding: 16px; */
    max-width: 940px;
    width: 100%;
    margin: 0 0 20px;
}

.boards__col {
    flex: 1 1 auto;
    padding: 0 0 0 30px;
}

.boards__ul {
    list-style: none;
    margin: 0;
}

.boards__title {
     /*color: #5e5e5e;*/
    padding: 0 0 8px 0;
}

.boards__ul a {
    white-space: pre;
}

.main {
    display: flex;
    flex-flow: column;
    /* gap: 20px 20px; */
    align-items: center;
    padding: 16px;
    margin-top: 0;
}

header.header {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px 0 50px;
}


.header__item {
    flex: 1 1 auto;
}

.main__meta {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

div.subtitle {
    font-size: 1.1rem !important;
    font-family: 'Open Sans', sans-serif;
    color: #5e5e5e !important;
}
.paragraph {
    font-weight: bold;
    font-size: 1.1rem;
}

.intro.thread-hidden {
    margin: 0;
    background-color: #ddd;
    padding: 10px;
    color: #bbb;
}

.intro.thread-hidden .reply-thread {
    display: none;
}
.intro.thread-hidden span.name, .intro.thread-hidden span.subject {
    color: #bbb;
}

.hidden_thread .new-posts {
    display: none;
}
