/*https://github.com/turanga/Tinyboard/blob/efe78b81c1ffca32bcf9601d0e3877bb65c70df1/stylesheets/photon.css*/


.floatiframe {
    float: left;
    padding: 10px;
}


div.boardlist {
    color: #8899AA;
    font-size: 12pt;
    background-color: #DDDDDD;
    border: 1px solid #cccccc;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    position: fixed;
    top: 0;
}


div.boardlist.bottom {
    margin-top: 20px;
    position: inherit;
    background: inherit;
}


.return1 a {
    float: left;
    font-size: inherit;

}

div.blotter {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    color: #006AB9;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding: 2px;
    text-align: center;
}


div.title {
    margin-bottom: 0em;
    clear: both;
    color: #FFAB3F;
    font-size: 2em;
    font-weight: bold;

}

div.ban h2 {
    border-radius: 6px 6px 6px 6px;
}

div.ban {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #CCCCCC;
    margin: 30px auto;
    max-width: 700px;
    border-radius: 7px;

}

form {
    margin-bottom: 0px;
}


form {
    margin-bottom: 0px;
}

span.heading {
    color: #FFAB3F;
    display: block;
    font-size: 12pt;
    font-weight: bold;
}

textarea#body {
    height: 136px;
    width: 518px;
}

textarea.text_body {
    height: 136px;
    width: 518px;
}


html, body {
    background: none;
    background-color: #EEEEEE;
    color: #333333;
    font-family: "Trebuchet MS", Trebuchet, serif;
    font-size: 12pt;
    margin-top: 20px;
}

a, a:visited {
    color: #8A8A8A;
}

a:hover {
    color: #0066FF;
}

.adminbar {
    clear: both;
    float: right;
    font-size: .8em;
}

.adminbar a {
    font-weight: bold;
}

.logo {
    clear: both;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    color: #FF6600;
    /*width:100%;*/
}

.theader, .passvalid {
    background: #DDDDDD;
    text-align: center;
    padding: 2px;
    color: #2266AA;
    clear: both;
    font-weight: bold;
    margin-bottom: .5em;
    border: solid 1px #CCCCCC;
    -moz-border-radius: 5px;
}

.postarea {
}

.rules {
    font-size: 0.7em;
}

.postblock {
    background: transparent;
    color: #002244;
    font-weight: bold;
}

.footer {
    text-align: center;
    font-size: 12px;
    font-family: serif;
    margin: 2em 0 0 0;
}

.dellist {
    font-weight: bold;
    text-align: center;
}

.delbuttons {
    text-align: center;
    padding-bottom: 4px;
}

.managehead {
    background: #DDDDDD;
    color: #002244;
    padding: 0px;
}

.postlists {
    background: #FFFFFF;
    width: 100%;
    padding: 0px;
    color: #800000;
}

.row1 {
    background: #DDDDDD;
    color: #002244;
}

.row2 {
    background: #CCCCCC;
    color: #002244;
}

.unkfunc {
    background: inherit;
    color: #789922;
}

.reflink {
    font-size: .8em;
    font-weight: bold;
}

.filesize {
    text-decoration: none;
    color: #666666;
    font-size: .8em;
}

.filetitle {
    background: inherit;
    font-size: 1.2em;
    color: #002244;
    font-weight: bold;
}

.postername {
    color: #004A99;
    font-weight: bold;
}

.postertrip {
    color: #FF3300;
}

.oldpost {
    color: #CC1105;
    font-weight: bold;
}

.omittedposts {
    color: #666666;
}

.omitted, .toolong {
    font-size: 0.9em;
    color: #5d5d5d;
    margin-left: 20px;
}

.unimportant, .fileinfo {
    font-size: 0.7rem;
}

.intro {
    font-size: 0.9em;
}

.reply {
    background: #DDDDDD;
    border: solid 1px #CCCCCC;
    padding: 0;
    margin: 0;
    -moz-border-radius: 5px;
}

blockquote {
    margin: .5em .5em .5em 1em;
}

blockquote p {
    margin: 0;
    padding: 0;
}

.reply blockquote {
    margin: .5em;
}

.doubledash {
    display: none;
    vertical-align: top;
    clear: both;
    float: left;
}

.replytitle {
    font-size: 1.2em;
    color: #002244;
    font-weight: bold;
}

.commentpostername {
    color: #004A99;
    font-weight: 800;
}

.thumbnailmsg {
    font-size: .8em;
    color: #666666;
}

hr {
    border-style: solid none none none;
    border-width: 1px;
    border-color: #BBBBBB;
}

table {
    border-style: none;
}

table td {
    border-style: none;
}

.nothumb {
    background-color: #FFFFFF;
    border-style: dotted;
    margin: .3em .5em;
}

.abbrev {
    color: #666666;
}

.highlight {
    background: #EEDACB;
    color: #333333;
    border: 2px dashed #EE6600;
}


div.banner, div.banner a {
    color: inherit;
}

div.banner {
    background-color: inherit;
}

form table tr th {
    background: none;
}

div.post.reply {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
}

div.title, h1 {
    color: #FF6600;
    font-size: 32px;
    font-weight: bold;
}

div.title p {
    font-size: 26px;
    margin: 0;
}

h1 {
    letter-spacing: inherit;
}

.pages {
    background: rgba(204, 204, 204, 0.32) !important;
    width: 100%;
    color: #707070 !important;
}

div.banner {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    color: #2266AA;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding: 2px;
    text-align: center;
}

form table tr td div {
    padding-left: 0px;

}

.open-form a {
    text-decoration: none;
    color: #00b5ff;
}

.open-form {
    font-size: 17pt;
}

.recaptchatable .recaptcha_image_cell {
    padding: 0px !important;
}

.desktop-style div.boardlist:not(.bottom) {
    background-color: #DDDDDD;
}

div.ban h2 {
    background: #bbbbbb;
    color: black;
    font-size: 12pt;
}

.news {
    margin: 30px auto;
    max-width: 700px;
}

.news > .post {
    margin-bottom: 30px;
    background-color: #dddddd;
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 10px;
    border: 2px dashed rgba(187, 187, 187, 0.31);
}

.news > .post:hover {
    background-color: #e3e3e3;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.14);
}

select {
    border: 1px solid #a9a9a9;
    vertical-align: top;
    height: 20px;
}

input, select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


@media only screen and (max-device-width: 480px) {
    div.boardlist {
        color: #8899AA;
        font-size: 10pt;
        background-color: rgba(221, 221, 221, 0.74);
        border: 1px solid rgba(204, 204, 204, 0.74);
        border-radius: 4px 4px 4px 4px;
        padding: 5px;
        position: fixed;
        top: 0;
        left: 0;
    }

    .watch-menu {
        margin-top: 50px !important;
    }

    textarea#body {
        height: 100px;
        width: 100%;
    }
}


.postform__limits {
    position: absolute;
    bottom: 4px;
    right: 10px;
    opacity: 0.6;
    font-size: 0.8rem;
}
.postarea {
    position: relative;
}

a.show-image-link, a.hide-image-link {
    color: #acacac;
}

.ev-action {
    font-size: 0.7rem;
    color: #8A8A8A;
    text-decoration: underline;
}

.ev-action.active {
    font-size: 0.8rem !important;
    color: #5a5a5a;
    font-weight: bold;
    text-decoration: none;
}

.post_file_webm, .post_file_mp4 {
    border: 1px dashed #5d5d5d;
}

div.post .post-image {
    padding: 0px;
    margin: 5px 20px 0 0;
}

a.reply-thread {
    color: #EE6600;
    font-weight: bold;
    text-decoration: none;
}

a.reply-thread:hover {
    text-decoration: underline dotted #EE6600;
}

div.post.reply div.body a {
    color: #EE6600;
}

.dropbtn {
    display: inline;
    color: #acacac;
    background: transparent;
    padding: 0;
    font-size: 0.7rem;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dddddd;
    min-width: 30px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #333333;
    padding: 5px 3px;
    font-size: 0.65rem;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #4a4a4a;
    color: #ffffff
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #212121;
}

div.post.reply div.body {
    min-width: 75vh;
}

div.post i.fa {
    font-size: 0.7rem;
}

.video-pop {
    display: block;
    float: none !important;

}
