a.post_no, form table tr td, h2 {
    margin: 0;
    padding: 0
}

#thread-links, .file, .file:not(.multifile) .post-image, .post-image, input.delete {
    float: left
}

.intro span.name, div.ban p.reason, div.banner, span.heading {
    font-weight: 700
}

br.clear, hr {
    clear: left
}

div.ban h2, form table tr th, table.test tr.h th {
    background: #98e
}

#attention_bar, #options_div textarea, #quick-reply input[type=text], #quick-reply textarea, input[type=password] {
    max-width: 100%
}

.mentioned, div.post div.body {
    word-wrap: break-word
}

#clearGhosts, #clearList, #watchlist-toggle, .poster_id, .watchThread, .watchlist-remove {
    cursor: pointer
}

#gallery_images, #gallery_toolbar {
    bottom: 0;
    background-color: rgba(0, 0, 0, .4)
}

body {
    background: url('img/fade-blue.png') 50% 0 repeat-x #eef2ff;
    color: #000;
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    margin: 0 4px;
    padding-left: 4px;
    padding-right: 4px
}

.intro a.email span.name, a, a:visited {
    color: #34345c
}

.hidden {
    display: none
}

a, a:visited {
    text-decoration: underline
}

.dropdown-content a, a.post_no, div.banner a:hover, div.boardlist a, div.pages a, div.styles a.selected {
    text-decoration: none
}

.intro a.email:hover span.name, .intro a.post_no:hover, .options_tab_icon.active, a:hover {
    color: red
}

.intro a.post_no {
    color: inherit
}

.intro a.post_no, p.intro a.email, p.intro a.post_anchor, span.controls a, table.test td img {
    margin: 0
}

.boardlist:not(.compact-boardlist) #watch-pinned, .intro label {
    display: inline
}

.intro time, p.intro a.capcode, p.intro a.ip-link {
    direction: ltr;
    unicode-bidi: embed
}

h2 {
    color: #af0a0f;
    font-size: 11pt
}

header {
    margin: 1em 0
}

h1 {
    font-family: tahoma;
    letter-spacing: -2px;
    font-size: 20pt;
    margin: 0
}

h1, header div.subtitle {
    color: #af0a0f;
    text-align: center
}

header div.subtitle {
    font-size: 8pt
}

form {
    margin-bottom: 4em
}

form table {
    margin: auto
}

form table input {
    height: auto
}

input[type=password], input[type=text], textarea {
    border: 1px solid #a9a9a9;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    word-spacing: normal;
    max-width: 100%
}

.clearfix, .dropbtn, .post-image, hr {
    border: none
}

.dropzone-wrap, table.test, textarea {
    width: 100%
}

form table tr td {
    text-align: left
}

form table.mod tr td {
    padding: 2px
}

form table tr th {
    text-align: left;
    padding: 4px
}

form table tr td div.center {
    text-align: center;
    float: left;
    padding-left: 3px
}

form table tr td div input {
    display: block;
    margin: 2px auto 0
}

.unimportant, .unimportant *, form table tr td div label {
    font-size: 10px
}

.file {
    margin-right: 2px
}

.file:not(.multifile) {
    float: none
}

p.fileinfo {
    display: block;
    margin: 0 0 0 20px
}

div.post p.fileinfo {
    padding-left: 0
}

div.banner {
    background-color: #e04000;
    font-size: 12pt;
    text-align: center;
    margin: 1em 0
}

div.banner, div.banner a, div.post.reply div.body span.spoiler:hover a, span.spoiler:hover {
    color: #fff
}

div.banner a:hover {
    color: #eef2ff
}

img.banner, img.board_image {
    display: block;
    border: 1px solid #a9a9a9;
    margin: 12px auto 0
}

.post-image {
    display: block;
    margin: 5px 20px 10px
}

.full-image {
    max-width: 98%
}

div.post .post-image {
    padding: 5px;
    margin: 0 20px 0 0
}

div.post img.icon {
    display: inline;
    margin: 0 5px;
    padding: 0
}

div.post i.fa {
    margin: 0 4px;
    font-size: 16px
}

div.post.op {
    margin-right: 20px;
    margin-bottom: 5px
}

div.post.op hr {
    border-color: #d9bfb7
}

.intro {
    margin: .5em 0;
    padding: 0 0 .2em
}

input.delete {
    margin: 1px 6px 0 0
}

.new-posts, span.omitted {
    margin-top: 1em
}

.intro span.subject {
    color: #0f0c5d;
    font-weight: 700
}

.intro span.name {
    color: #117743
}

.intro span.capcode, p.intro a.capcode, p.intro a.nametag {
    color: #f00000;
    margin-left: 0
}

.intro a {
    margin-left: 8px
}

div.delete {
    float: right
}

div.post.reply p {
    margin: .3em 0 0
}

div.post.reply div.body {
    margin-left: 1.8em;
    margin-top: .8em;
    padding-right: 3em;
    padding-bottom: .3em
}

div.post.reply.highlighted {
    background: #d6bad0
}

div.post.reply div.body a {
    color: #d00
}

div.post {
    padding-left: 20px
}

div.post div.body {
    white-space: pre-wrap
}

div.post.reply {
    background: #d6daf0;
    margin: .2em 4px;
    padding: .2em .3em .5em .6em;
    border-width: 1px;
    border-style: none solid solid none;
    border-color: #b7c5d9;
    display: inline-block;
    max-width: 94% !important
}

.dropdown:hover .dropdown-content, .theme-catalog div.thread strong, br.clear, div.pages.top, fieldset label, form.ban-appeal textarea, span.omitted {
    display: block
}

span.trip {
    color: #228854
}

span.quote {
    color: #789922
}

span.controls {
    float: right;
    margin: 0;
    padding: 0;
    font-size: 80%
}

span.controls.op {
    float: none;
    margin-left: 10px
}

div#wrap {
    width: 900px;
    margin: 0 auto
}

div.ban {
    background: #fff;
    border: 1px solid #98e;
    max-width: 700px;
    margin: 30px auto
}

div.ban h2, div.ban p {
    padding: 3px 7px
}

div.ban h2 {
    color: #000;
    font-size: 12pt
}

div.ban p {
    font-size: 12px;
    margin-bottom: 12px
}

span.heading {
    color: #af0a0f;
    font-size: 11pt
}

span.spoiler {
    background: #000;
    color: #000;
    padding: 0 1px
}

div.post.reply div.body span.spoiler a {
    color: #000
}

div.styles {
    float: right;
    padding-bottom: 20px
}

div.styles a {
    margin: 0 10px
}

table.test td, table.test th {
    text-align: left;
    padding: 5px
}

div.pages {
    color: #89a;
    background: #d6daf0;
    display: inline-block;
    padding: 8px;
    margin: 8px 0 4px;
    border-right: 1px solid #b7c5d9;
    border-bottom: 1px solid #b7c5d9
}

div.pages.top {
    padding: 5px 8px;
    margin-bottom: 5px;
    position: fixed;
    top: 0;
    right: 0;
    opacity: .9
}

@media screen and (max-width: 800px) {
    div.pages.top {
        display: none !important
    }
}

div.pages a.selected {
    color: #000;
    font-weight: bolder
}

div.pages form {
    margin: 0;
    padding: 0;
    display: inline
}

div.pages form input {
    margin: 0 5px;
    display: inline
}

hr {
    border-top: 1px solid #b7c5d9;
    height: 0
}

div.report {
    color: #333
}

div.blotter, span.public_ban {
    color: red;
    font-weight: 700
}

table.modlog {
    margin: auto;
    width: 100%
}

table.modlog tr td {
    text-align: left;
    margin: 0;
    padding: 4px 15px 0 0
}

table.modlog tr th {
    text-align: left;
    padding: 4px 15px 5px 5px;
    white-space: nowrap;
    background: #98e
}

td.minimal, th.minimal {
    width: 1%;
    white-space: nowrap
}

div.top_notice {
    text-align: center;
    margin: 5px auto
}

span.public_ban, span.toolong {
    display: block;
    margin-top: 15px
}

div.blotter {
    text-align: center
}

table.mod.config-editor {
    font-size: 9pt;
    width: 100%
}

table.mod.config-editor td {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #98e
}

table.mod.config-editor input[type=text] {
    width: 98%
}

.desktop-style div.boardlist:first-child {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    z-index: 30;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    border-bottom: 1px solid;
    background: inherit
}

.desktop-style body {
    padding-top: 20px
}

.desktop-style .sub {
    background: inherit
}

.desktop-style .sub .sub {
    display: inline-block;
    text-indent: -9000px;
    width: 7px;
    background: url('img/arrow.png') right center no-repeat
}

.desktop-style .sub .sub.hover, .desktop-style .sub .sub:hover {
    display: inline;
    text-indent: 0;
    background: inherit
}

#attention_bar {
    height: 1.5em;
    max-height: 1.5em;
    width: 100%;
    text-align: center;
    overflow: hidden
}

#attention_bar_form {
    display: none;
    padding: 0;
    margin: 0
}

#attention_bar_input {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center
}

#attention_bar:hover {
    background-color: rgba(100%, 100%, 100%, .2)
}

.intro.thread-hidden {
    margin: 0;
    padding: 0
}

form.ban-appeal {
    margin: 9px 20px
}

.MathJax_Display {
    display: inline !important
}

pre {
    margin: 0;
    max-width: inherit;
    word-wrap: normal;
    overflow: auto;
    display: block !important;
    font-size: 9pt;
    font-family: monospace
}

.theme-catalog div.thread img {
    float: none !important;
    margin: auto;
    max-height: 150px;
    max-width: 200px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .55);
    border: 2px solid rgba(153, 153, 153, 0)
}

.theme-catalog div.thread {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    height: 300px;
    width: 205px;
    overflow: hidden;
    position: relative;
    font-size: 11px;
    max-height: 300px;
    background: rgba(182, 182, 182, .12);
    border: 2px solid rgba(111, 111, 111, .34)
}

.theme-catalog div.threads {
    text-align: center;
    margin-left: -20px
}

#gallery_toolbar, .cb-menuitem span.cb-uri {
    text-align: right
}

.theme-catalog div.thread:hover {
    background: #d6daf0;
    border-color: #b7c5d9
}

.theme-catalog div.grid-size-small img, .theme-catalog div.grid-size-vsmall img {
    max-height: 33%;
    max-width: 95%
}

.theme-catalog div.grid-size-vsmall {
    min-width: 90px;
    max-width: 90px;
    max-height: 148px
}

.theme-catalog div.grid-size-small {
    min-width: 140px;
    max-width: 140px;
    max-height: 192px
}

.theme-catalog div.grid-size-large img {
    max-height: 40%;
    max-width: 95%
}

.theme-catalog div.grid-size-large {
    min-width: 256px;
    max-width: 256px;
    max-height: 384px
}

.theme-catalog img.thread-image {
    height: auto;
    max-width: 100%
}

@media (max-width: 420px) {
    .theme-catalog ul#Grid {
        padding-left: 18px
    }

    .theme-catalog div.thread {
        width: auto;
        margin-left: 0;
        margin-right: 0
    }

    .theme-catalog div.threads {
        overflow: hidden
    }
}

.compact-boardlist {
    padding: 3px 3px 0
}

.compact-boardlist #watch-pinned, .compact-boardlist .cb-item {
    display: inline-block;
    vertical-align: middle
}

.compact-boardlist .cb-icon {
    padding-bottom: 1px
}

.compact-boardlist .cb-fa {
    font-size: 21px;
    padding: 0 2px 2px
}

.compact-boardlist .cb-cat {
    padding: 5px 6px 8px
}

.cb-menuitem {
    display: table-row
}

.cb-menuitem span {
    padding: 5px;
    display: table-cell;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, .5)
}

.dropzone .file-tmb, .dropzone .remove-btn, .dropzone .tmb-filename, .poster_id, div.mix {
    display: inline-block
}

.boardlist:not(.compact-boardlist) #watch-pinned::before {
    content: " [ "
}

.boardlist:not(.compact-boardlist) #watch-pinned::after {
    content: " ] "
}

.boardlist:not(.compact-boardlist) #watch-pinned a {
    margin-left: 3pt
}

.boardlist:not(.compact-boardlist) #watch-pinned a:first-child, table.fileboard .intro a {
    margin-left: 0
}

.new-posts {
    opacity: .6
}

.new-threads {
    text-align: center
}

#alert_handler, #options_handler {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 9900;
    background: inherit;
    visibility: hidden
}

#alert_background, #options_background {
    background: #000;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    visibility: visible
}

#alert_div, #options_div {
    background-color: #d6daf0;
    border: 1px solid #000;
    display: inline-block;
    position: relative;
    margin-top: 20px;
    background: inherit;
    visibility: visible
}

#options_div, #watchlist {
    border: 1px solid;
    overflow: auto
}

#options_div {
    width: 620px;
    height: 400px;
    resize: both
}

#alert_div {
    width: 500px
}

#alert_message {
    text-align: center;
    margin: 13px;
    font-size: 110%
}

.alert_button {
    margin-bottom: 13px
}

#alert_close, #options_close {
    top: 0;
    right: 0;
    position: absolute;
    margin-right: 3px;
    font-size: 20px;
    z-index: 100
}

#options_tablist {
    padding: 0 5px;
    left: 0;
    width: 100px;
    top: 0;
    bottom: 0;
    height: 100%;
    border-right: 1px solid #000
}

.options_tab_icon {
    padding: 5px;
    cursor: pointer
}

#gallery_main, .options_tab {
    top: 0;
    padding: 10px;
    position: absolute
}

.options_tab_icon i {
    font-size: 20px
}

.options_tab_icon div {
    font-size: 11px
}

.options_tab {
    bottom: 10px;
    left: 101px;
    right: 0;
    text-align: left;
    font-size: 12px;
    overflow-y: auto
}

.options_tab h2 {
    text-align: center;
    margin-bottom: 5px
}

.mobile-style #alert_div, .mobile-style #options_div {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 0
}

.poster_id {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.poster_id:hover {
    color: maroon !important
}

.poster_id::before {
    content: " ID: "
}

span.pln {
    color: grey
}

@media screen and (min-width: 768px) {
    .intro, div.post div.body {
        clear: none
    }
}

.clearfix {
    display: block;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    font-size: 0px;
    line-height: 0;
    box-sizing: border-box;
    height: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    zoom: 1
}

div.boardlist {
    margin-top: 3px;
    color: #89a;
    font-size: 9pt
}

div.boardlist.bottom {
    margin-top: 12px;
    clear: both
}

#thread-interactions, #thread-interactions_header {
    margin: 8px 0;
    clear: both
}

#thread-links > a {
    padding-left: none;
    padding-right: 10px
}

#thread-quick-reply {
    display: none;
    position: absolute;
    left: 50%;
    right: 50%;
    text-align: center;
    width: 100px;
    margin-left: -50px
}

#thread_stats {
    float: right;
    display: inline;
    margin-left: 10px;
    margin-right: 10px
}

#thread-links_header > a {
    padding-left: 0;
    padding-right: 10px
}

#post-moderation-fields {
    float: right;
    text-align: right
}

#watchlist {
    display: none;
    max-height: 250px;
    border-style: none solid solid none;
    width: 50%;
    margin: 0 auto 10px
}

.watchlist-controls, .watchlist-inner {
    margin: 10px auto;
    text-align: center
}

#youtube-size input {
    width: 50px
}

.dropzone {
    color: #000;
    cursor: default;
    margin: auto;
    padding: 0 4px;
    text-align: center;
    min-height: 50px;
    max-height: 140px;
    transition: .2s;
    background-color: rgba(200, 200, 200, .5);
    overflow-y: auto
}

.dropzone .file-hint {
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
    position: relative;
    margin-bottom: 5px;
    padding: 10px 0;
    top: 5px;
    transition: .2s;
    border: 2px dashed rgba(125, 125, 125, .4)
}

.dropzone.dragover .file-hint, .file-hint:hover {
    color: #000;
    border-color: rgba(125, 125, 125, .8)
}

.dropzone.dragover {
    background-color: #c8c8c8
}

.dropzone .file-thumbs {
    text-align: left;
    width: 100%
}

.dropzone .tmb-container {
    padding: 3px;
    overflow-x: hidden;
    white-space: nowrap
}

.dropzone .file-tmb {
    height: 40px;
    width: 70px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(187, 187, 187, .5);
    background-size: cover;
    background-position: center
}

.dropzone .file-tmb span {
    font-weight: 600;
    position: relative;
    top: 13px
}

.dropzone .tmb-filename {
    vertical-align: bottom;
    bottom: 12px;
    position: relative;
    margin-left: 5px
}

.dropzone .remove-btn {
    cursor: pointer;
    color: rgba(125, 125, 125, .5);
    vertical-align: bottom;
    bottom: 10px;
    position: relative;
    margin-right: 5px;
    font-size: 20px
}

.dropzone .remove-btn:hover {
    color: #7d7d7d
}

table.fileboard td, table.fileboard th {
    padding: 2px;
    text-align: center
}

#gallery_images {
    position: absolute;
    right: 0;
    top: 0;
    width: 12%;
    overflow: auto
}

#gallery_toolbar {
    position: absolute;
    right: 12%;
    left: 0;
    height: 32px
}

#gallery_images img {
    width: 100%;
    opacity: .6;
    -webkit-transition: .5s;
    transition: .5s
}

#gallery_toolbar a {
    font-size: 28px;
    padding-right: 5px
}

#gallery_main {
    left: 0;
    right: 12%;
    bottom: 32px
}

#gallery_images img.active, #gallery_images img:hover {
    opacity: 1
}

#gallery_images img.active {
    -webkit-box-shadow: 0 0 29px 2px #fff;
    -moz-box-shadow: 0 0 29px 2px #fff;
    box-shadow: 0 0 29px 2px #fff;
    z-index: 1
}

#gallery_main img, #gallery_main video {
    max-width: 100%;
    max-height: 100%;
    position: absolute
}

.own_post {
    font-style: italic;
    font-weight: 400;
    opacity: .666
}

.dropbtn {
    display: inline;
    color: #acacac;
    background: 0 0;
    padding: 0;
    font-size: .7rem;
    cursor: pointer
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    min-width: 30px;
    z-index: 1
}

.dropdown-content a {
    color: #333;
    padding: 5px 3px;
    font-size: .65rem;
    display: block
}

.dropdown-content a:hover {
    background-color: #4a4a4a;
    color: #fff
}

.dropdown:hover .dropbtn {
    color: #212121
}
