body {
    background: #AAC3EC url('img/ukrchan_body.png');
    color: #000;
    font: 15px Roboto,Trebuchet MS,Trebuchet,Arial,Verdana,sans-serif;
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
}

div.post.reply div.body a,a,a:hover {
    color: #004C8C;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    color: #4C6C2B;
    margin: 0;
}

img.board_image,div.boardlist:nth-child(1) {
    background: #6B86B2;
    border: none;
    box-shadow: 0px 0px 1px 2px rgba(45,73,121,0.75);
}

img.board_image {
    border: none;
    margin-top: 24px;
}

div.boardlist:nth-child(1) {
    font-size: 1em;
    opacity: 0.9;
}

div.boardlist:nth-child(1),div.boardlist div.pages {
    color: #FFF;
}

/* Thread Footer */

#thread-interactions {
    margin: 8px 0;
    clear: both;
}
#thread-links {
    float: left;
}
#thread-links>a {
    padding-left: none;
    padding-right: 10px;
}
#thread-quick-reply {
    display: none;
    position: absolute;
    left: 50%;
    right: 50%;
    text-align: center;
    width: 100px;
    margin-left: -50px;
}
#thread_stats {
    float: right;
}
#post-moderation-fields {
    float: right;
    text-align: right;
}
#delete-fields {}
#report-fields {}


div.boardlist:nth-child(1) a {
    color: inherit;
}

header {
    margin: 1em 0 0.5em;
}
header div.subtitle, h1 {
    color: #990000;
    text-align: center;
}
header .theme-stats a.current {
    color: #FFF;
    padding: 5px 0 0;
    text-shadow: 1px 1px 1px #6F89B9;
    font-family: Lobster;
}

header div.subtitle br:first-child {
    display: none;
}

.name {
    visibility: hidden;
    position: fixed;
}

div.banner {
    margin: 15px 0 25px;
    padding: 0 0 2px;
}

button,input,textarea {
    transition-property: background,box-shadow,color;
    transition-duration: 0.3s;
}

input[type="text"],input[type="password"],textarea {
    background: #FFF;
    border: 1px solid #5F7BAB;
    color: #000;
}

input[type="file"] {
    padding: 6px 0 8px;
}
input[type="submit"], select {
    background: #6B86B2;
    border: 1px solid #666666;
    color: #000;
}
input[type="text"],input[type="password"],input[type="submit"],button {
    line-height: auto;
    margin-bottom: 6px;
    padding: 6px;
}

input[type="submit"],button {
    background: #6B86B2;
    border-color: rgba(45,73,121,0.25);
    border-radius: 2px;
    border-width: 0 0 2px;
    color: #FFF;
    cursor: pointer;
    padding: 7px 10px 5px;
}

input[type="submit"]:hover,button:hover,input[type="submit"]:focus,button:focus {
    background: rgba(45,73,121,0.25);
    border-color: rgba(45,73,121,0.15);
}

input[type="submit"],button,input[name="subject"],#password,#reason {
    margin-right: 6px;
}

select {
    margin-top: 4px;
}

textarea {
    line-height: auto;
    height: 150px;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
    box-shadow: 0 0 5px #2D4979 inset;
}

form table tr th {
    background: FFF;
    font-weight: 700;
    text-shadow: 1px 1px 1px #FFF;
}

form table tr th,div.delete label {
    background: none;
    font-weight: 700;
    text-shadow: 1px 1px 1px #FFF;
}

div.pages,.webm-settings div {
    background: #B9CEF0;
}

div.pages {
    border: none;
    color: #000;
    display: inline;
    padding: 8px;
    border-right: 0px;
    border-bottom: 0px;
}

div.pages form input {
    margin: 0;
    line-height: 1em;
}

div.pages form:first-child input {
    margin-right: 2px;
}

div.pages form:last-child input {
    margin-left: 2px;
}
.topleft {
    display: block;
    padding: 5px 8px;
    margin-bottom: 5px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
}
.topright {
    display: block;
    padding: 5px 8px;
    margin-bottom: 5px;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.9;
}
table.modlog {
    margin: auto;
    width: 100%;
}
table.modlog tr td {
    text-align: left;
    margin: 0;
    padding: 4px 15px 0 0;
}
table.modlog tr th {
    background: #FFF;
    text-align: left;
    padding: 4px 15px 5px 5px;
    white-space: nowrap;
}
.webm-settings div {
    padding: 10px;
}

div.ban {
    border: 1px solid #5F7BAB;
}

div.ban h2 {
    background: #5F7BAB;
    color: #FFF;
}

fieldset {
    border: 1px solid #5F7BAB;
    margin: 0 80px 20px;
}

hr {
    border-top: 1px solid #86AEDD;
}

br.clear {
    display: none;
}

.post+br {
    clear: left;
    display: block;
}

.post-image {
    margin-right: 16px;
}

div.post .post-image {
    margin-right: 8px;
}

p.fileinfo,.post-image {
    margin-left: 6px;
}

p.fileinfo,.post {
    padding: 0 0 4px;
}

.file {
    margin: 0;
}

.files+.post {
    padding: 2px 0 0;
}

.name+.flag {
    margin: 0 0.1em;
}

div.post.reply {
    background: #E5DC9B url('img/ukrchan_post.png');
    border: 2px solid #CCC17F;
    margin: 0.2em 16px;
    padding: 0.2em 0.3em 0.5em 0.6em;
    border-width: 0px;
    border-style: none solid solid none;
    border-color: #202020;
    display: inline-block;
}

br+div.post.reply {
    margin-top: 6px;
}

div.post.reply.highlighted {
    background: #EBE5B4 url('img/ukrchan_focus.png');
    border-color: #CCC493;
}

div.post.reply.post-hover {
    margin: 10px;
}

div.post.reply div.body {
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
}

.post p {
    margin: 6px 0;
}

div.post.op span.spoiler,div.post.op div.body span.spoiler a {
    color: #6B86B2;
}

div.post.op span.spoiler {
    background: #6B86B2;
}

div.post.reply span.spoiler,div.post.reply div.body span.spoiler a {
    color: #CCC17F;
}

div.post.reply span.spoiler {
    background: #CCC17F;
}

div.post.op span.spoiler:hover,div.post.op div.body span.spoiler:hover a,div.post.reply span.spoiler:hover,div.post.reply div.body span.spoiler:hover a {
    color: #000;
}

span.omitted {
    margin-top: 10px;
}

div.delete {
    margin: 24px 0 0;
}

div.delete+div.delete {
    margin: 12px 0;
}

.de-parea>div:first-child {
    margin: 0 0 1.4em;
}

.de-omitted {
    color: inherit;
    opacity: 0.6;
}

.de-refmap {
    margin: 4px 0 2px;
}

[lang="de"] #de-panel {
    height: 1.56em;
}

[lang="de"] #de-panel-btns {
    height: 1.9em;
}

[lang="de"] #de-spell-rowmeter,[lang="de"] .de-cfg-head,[lang="de"] #de-panel {
    background: #6B86B2;
}

[lang="de"] #de-panel-btns,[lang="de"] #de-panel-info {
    border-color: rgba(45,73,121,0.75);
}

[lang="de"] .de-cfg-head {
    border-radius: 0;
}

[lang="de"] #de-panel,[lang="de"] #de-content-cfg>div {
    border: none;
    border-radius: 1px;
    box-shadow: 0px 0px 1px 2px rgba(45,73,121,0.75);
}

ul#Grid {
    list-style: none;
}

form {
    margin-bottom: 15px;
}

div.boardlist.bottom {
    color: #68a;
    margin-top: 1em;
}

@media screen and (max-width: 600px) {
    .wrappers {
        display: none;
    }
    div.delete label[for="password"],div.delete label[for="reason"] {
        display: block;
    }
    #reason,input[name="subject"] {
        max-width: 60%;
    }
}







.greetings h1 {
    letter-spacing: 1px;
    font-size: 20pt;
    font-style: italic;
    margin: 0;
    text-align: center;
}
.box-wrap {
    max-width: 80%;
    min-width: 40%;
    margin: 30px auto;
    overflow: auto;
    padding: 0;
}
.box {
    background: white;
    border: 1px solid #98E;
    margin: auto;
    padding: 0;
}
.boxstats {
    background: white;
    border: 1px solid #98E;
    width: 668px;
    margin: 8px 0;
    padding: 0;
    text-align: center;
}
.box ul {
    padding: 2px 15px;
}
.box ul li {
    list-style: none;
    margin: 0;
}
.box.left {
    background: #E5DC9B url('img/ukrchan_post.png');
    border: #CCC17F 1px solid;
    width:50%;
    float: none;
}
.box.images {
    background: #E5DC9B url('img/ukrchan_post.png');
    border: #CCC17F 1px solid;
    text-align: center;
    vertical-align:middle;
    min-height:140px;
    width:50%;
}
.boxstats.center {
    background: #333333;
    color: #CCCCCC;
    border: #555555 1px solid;
    float: right;
}

.box h2 {
    padding: 3px 7px;
    font-size: 12pt;
    border: #555555 1px solid;
}
.box.left h2 {
    background: #333333;
    color: #CCCCCC;
    border: #555555 1px solid;
}
.box.images h2 {
    background: #333333;
    color: #CCCCCC;
    border: #555555 1px solid;
}
.box.right h2 {
    background: #333333;
    color: #CCCCCC;
    border: #555555 1px solid;
}
.boxstats.center h2 {
    background: #333333;
    color: #CCCCCC;
    border: #555555 1px solid;
}
.box img {
    float: none;
    margin: 10px auto;
}
.mobileShow { display: none;}
.mobileHide { display: inline;}

@media only screen and (max-width: 480px) {
    .box-wrap {
        max-width: 90%;
        min-width: 90%;
        margin: 30px auto;
        overflow: auto;
        padding: 0;
    }
    .box.images {
        background: #E5DC9B url('img/ukrchan_post.png');
        border: #CCC17F 1px solid;
        border: #555555 1px solid;
        text-align: center;
        vertical-align:middle;
        min-height:140px;
        width: 90%;
    }
    .box.left {
        background: #E5DC9B url('img/ukrchan_post.png');
        border: #CCC17F 1px solid;
        border: #555555 1px solid;
        width: 90%;
        float: none;
    }
    .file:not(.multifile) .post-image {
        float: none;
    }
    .mobileShow { display: inline;}
    .mobileHide { display: none;}
}

.dropzone .remove-btn {
    cursor: pointer;
    color: #000;
    display: inline-block;
    vertical-align: bottom;
    bottom: 10px;
    position: relative;
    margin-right: 5px;
    font-size: 20px
}

.createbutton a {
    font-size: 22px;
    color: #BA0000;
    text-decoration: none;
}
.createbutton a:hover {
    font-size: 22px;
    color: #a80000;
    text-decoration: none;
}

#notice {
    background: #E5DC9B url('img/ukrchan_post.png');
    text-decoration: none;
    padding: 15px;
    z-index: 1000;
    max-width: 400px;
    margin: auto;
    border-radius: 5px;
    border-style: none;
    border: 1px solid #d9bfb7;
}