<div class="ban board-stats" style="padding-bottom: 20px;">
    <div style="width: 45%;display: inline-block;">
        <h2>{% trans %}Last 7d stats{% endtrans %}</h2>
        {% for boardStat in stats.sd %}
        <fieldset>
            <legend>/{{ boardStat.board }}/</legend>
            <label><strong>Threads:</strong> {{ boardStat.threads }}</label>
            <label><strong>Replays:</strong> {{ boardStat.replays }}</label>
            <label><strong>Files:</strong> {{ boardStat.files }}</label>
            <label><strong>Posters:</strong> {% if boardStat.posters > 0 %} {{ boardStat.posters }} {% else %} 0 {% endif %}</label>
        </fieldset>
        {% endfor %}
    </div>
    <div style="width: 45%;display: inline-block;">
        <h2>{% trans %}All time stats{% endtrans %}</h2>
        {% for boardStat in stats.all_time %}
        <fieldset>
            <legend>/{{ boardStat.board }}/</legend>
            <label><strong>Threads:</strong> {{ boardStat.threads }}</label>
            <label><strong>Replays:</strong> {{ boardStat.replays }}</label>
            <label><strong>Files:</strong> {{ boardStat.files }}</label>
            <label><strong>Posters:</strong> {% if boardStat.posters > 0 %} {{ boardStat.posters }} {% else %} 0 {% endif %}</label>
        </fieldset>
        {% endfor %}
    </div>
</div>

