

{% if config.mod_archive.threads and mod and mod|hasPermission(config.view_mod_archive) %}
<p style="text-align: center">
    <a id="unimportant" href="{% if mod %}{{ config.file_mod }}?{% endif %}{{ config.root }}{{ board.dir }}{{ config.dir.mod_archive }}">[{% trans %}View Mod Archive{% endtrans %}]</a>
</p>
{% endif %}
{% if config.feature.threads %}
<p style="text-align: center">
    <a id="unimportant" href="{% if mod %}{{ config.file_mod }}?{% endif %}{{ config.root }}{{ board.dir }}{{ config.dir.featured }}">[{% trans %}Featured Thread Archive{% endtrans %}]</a>
</p>
{% endif %}
<p style="text-align: center">
    <b>{% trans 'Displaying' %} {{ thread_count }} {% trans 'expired threads' %}{% if config.archive.lifetime %} {% trans 'from the past' %} {{  config.archive.lifetime }}{% endif %}</b><br/>
    <small>Vote for a thread to be added to the featured archive</small>
</p>

<table id="archive-list" class="archive-list modlog">
    <thead>
    <tr>
        <th width='80px'>Post #</th>
        <th>Snippet</th>
        <th width='50px'>&nbsp;</th>
        <th width='50px'>Votes</th>
        {% if mod and mod|hasPermission(config.mod.feature_archived_threads, board.uri) %}
        <th width='80px'>&nbsp;</th>
        {% endif %}
        {% if mod and mod|hasPermission(config.mod.add_to_mod_archive, board.uri) %}
        <th width='80px'>&nbsp;</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for thread in archive %}
    <tr>
        <td>{{ thread.id }}</td>
        <td>{{ thread.snippet }}</td>
        <td><a href="{{ thread.archived_url }}">[{% trans 'View' %}]</a></td>
        <td>{% if not mod %}
            {% if not thread.featured %}
            {{ thread.votes }}
            <form action="{{ config.post_url }}" method="post" class="archiveForm" style="float: right">
                <input type="hidden" name="board" value="{{ board.uri }}" />
                <input type="hidden" name="thread_id" value="{{ thread.id }}">
                <input type="hidden" name="archive_vote" value="1">
                <a href="#" onclick="confirm('Press OK to vote for this thread to be added to featured archive.')?this.parentNode.submit():false;">[+]</a>
            </form>
            {% else %}
            <strong>Featured</strong>
            {% endif %}
            {% else %}
            {{ thread.votes }}
            {% endif %}
        </td>
        {% if mod and mod|hasPermission(config.mod.feature_archived_threads, board.uri) %}
        <td>
            {% if not thread.featured %}
            <form action="" method="post" class="archiveForm">
                <input type="hidden" name="token" value="{{ token }}">
                <input type="hidden" name="id" value="{{ thread.id }}">
                <input type="hidden" name="feature" value="1">
                <a href="#" onclick="confirm('Are you sure you want to add thread to featured archive?')?this.parentNode.submit():false;">[{% trans 'Feature' %}]</a>
            </form>
            {% else %}
            <b>{% trans 'Featured' %}</b>
            {% endif %}
        </td>
        {% endif %}
        {% if mod and mod|hasPermission(config.mod.add_to_mod_archive, board.uri) %}
        <td>
            {% if not thread.mod_archived %}
            <form action="" method="post" class="archiveForm">
                <input type="hidden" name="token" value="{{ token }}">
                <input type="hidden" name="id" value="{{ thread.id }}">
                <input type="hidden" name="mod_archive" value="1">
                <a href="#" onclick="confirm('Are you sure you want to add thread to mod archive?')?this.parentNode.submit():false;">[{% trans 'Mod Archive' %}]</a>
            </form>
            {% else %}
            <b>{% trans 'Mod Archived' %}</b>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>


